*
{
    margin: 0;
    padding: 0;
}

.font-open-sans
{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

header
{
    padding-top: 50px;
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}

nav
{
    width: 61%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

header h3
{
    font-size: 45px;
    font-weight: 900;
}

.orange-font
{
    color: #FD6E0A;
}

header ul
{
    display: flex;
    gap: 51px;
    align-items: center;
    list-style: none;
}

header a
{
    text-decoration: none;
    color: #474747;
}

.btn
{
    padding: 18px 36px 20px 35px;
    color: white;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}

.hero-text-container
{
    margin: 66px 38px 0px 230px;
}

.hero-text-container h2
{
    font-size: 45px;
    font-weight: 600;
    color: #181818;
}

.hero-text-container h1
{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
}

.hero-text-container p
{
    font-size: 18px;
    font-weight: normal;
    color: #757575;
    margin: 20px 0 30px 0;
}

.hero-image
{
    max-width: 584px;
    max-height: 676px;
}

#banner
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 46px 38px 0 0;
}